
.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.favoriteBtn {
  position: relative;
  i {
    position: absolute;
    top: 6px;
    right: 7px;
  }
}

.day-forecast {
  height: 250px;
  margin-bottom: 2em;
}

